:root {
    font-family: SegoeUI, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #dadada;
    color: #333;
}

body {
    display: flex;
    flex-direction: row;
}

aside {
    border-right: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aaa;
    display: flex;
    flex-direction: column;

    header {
        background: white;
        color: #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 0.5rem 1rem;
        height: 3rem;
        border-bottom: 1px solid #aaa;
        box-shadow: 1px 1px 5px #aaa;

        svg {
            width: 2rem;
            height: 2rem;
        }

        p {
            font-weight: 700;
            padding: 0 0 0 1rem;
        }
    }

    #previews {
        flex-grow: 1;
        overflow-y: scroll;

        article {
            background-color: var(--sd-background-color);
            color: var(--sd-text-color);
            font-size: var(--sd-text-size);
            line-height: var(--sd-text-line-height);
            box-shadow:
                0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698),
                0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024),
                0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03),
                0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036),
                0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302),
                0.5rem 1rem 6rem rgba(129, 145, 181, 0.06),
                0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
            margin: 10rem;
            width: 1920px;
            height: 1080px;
            overflow: hidden;

            &.sd-slide {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                transform: none;
                opacity: 1;
                zoom: 10%;
            }

            .studio-add-slide {
                font-size: 30rem;
            }
        }
    }
}

main {
    flex-grow: 1;
    background-color: #eee;
    display: flex;
    flex-direction: column;

    header,
    footer {
        height: 3rem;
        background: white;
        border-bottom: 1px solid #aaa;
        box-shadow: 1px 1px 5px #aaa;
    }

    #workbench {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        article {
            background-color: var(--sd-background-color);
            color: var(--sd-text-color);
            font-size: var(--sd-text-size);
            line-height: var(--sd-text-line-height);
            box-shadow:
                0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698),
                0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024),
                0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03),
                0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036),
                0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302),
                0.5rem 1rem 6rem rgba(129, 145, 181, 0.06),
                0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
            margin: 2rem;
            width: 1920px;
            height: 1080px;
            overflow: hidden;

            &.sd-slide {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                transform: none;
                opacity: 1;
                zoom: 80%;
            }
        }
    }
}
