:root {
  --sd-sv-timer-size: 80px;
  --sd-sv-subtimer-size: 60px;
  --sd-sv-text-size: 40px;
  --sd-sv-text-line-height: 1.2;
  --sd-sv-background-color: #242424;
  --sd-sv-text-color: rgba(255, 255, 255, 0.87);
  --sd-sv-background-color-emergency: #d9000e;
}

body {
  display: flex;
  flex-direction: row;
}

#sd-sv-left,
#sd-sv-right {
  width: 50%;
  height: 100%;
  margin: 0;
}

#sd-sv-left .sd-app {
  height: 50%;
  box-sizing: border-box;
  border: 1px solid white;
}

#sd-sv-left .sd-app .sd-slide {
  transform: translateX(0);
  transition-duration: 0ms;
  zoom: 0.5;
}

#sd-sv-left #sd-sv-future:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(18, 18, 18, 0.65);
}

#sd-sv-right {
  display: flex;
  flex-direction: column;
}

#sd-sv-timer {
  background-color: var(--sd-sv-background-color);
  color: var(--sd-sv-text-color);
  font-size: var(--sd-sv-timer-size);
  line-height: var(--sd-sv-text-line-height);
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: right;
  cursor: pointer;
  font-family: monospace;
}

#sd-sv-timer.emergency {
  background-color: var(--sd-sv-background-color-emergency);
}

#sd-sv-subtimer {
  background-color: var(--sd-sv-background-color);
  color: var(--sd-sv-text-color);
  font-size: var(--sd-sv-subtimer-size);
  line-height: var(--sd-sv-text-line-height);
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: right;
  font-family: monospace;
}

#sd-sv-subtimer.emergency {
  background-color: var(--sd-sv-background-color-emergency);
}

#sd-sv-notes {
  flex-grow: 1;
  background-color: var(--sd-sv-background-color);
  color: var(--sd-sv-text-color);
  font-size: var(--sd-sv-text-size);
  line-height: var(--sd-sv-text-line-height);
  padding: 10px;
  overflow: scroll;
}

#sd-open-presentation {
  display: flex;
}

#sd-open-presentation button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sd-open-presentation svg {
  width: 2vw;
  height: 2vw;
}
